   .navber, .banner, .main-content {
    max-width: 1140px;
    margin: 0 auto;
}
.navber {
    justify-content: space-between;
}
.display-flex {
    display: flex
;
}
nav {
    display: block;
    unicode-bidi: isolate;
}